ion-content {
	--ion-background-color: white;
}

.title {
	position: absolute;
	height: 33px;
	left: 30px;
	top: 101px;
	font-family: 'BROmnySemiBold';
	font-size: 30px;
	color: #292b2e;
}

.subtitle {
	position: absolute;
	height: 33px;
	left: 30px;
	top: 149px;
	font-family: 'BROmnyRegular';
	font-size: 30px;
	color: #8e9fa9;
}

.undertitle {
	position: absolute;
	position: absolute;
	height: 33px;
	left: 30px;
	top: 188px;
	font-family: 'BROmnyRegular';
	font-size: 30px;
	color: #8e9fa9;
}

.captionInput {
	position: absolute;
	height: 22px;
	left: 32px;
	top: 261px;

	font-family: 'BROmnyRegular';
	font-size: 15px;
	color: #292b2e;
}

.captionInput2 {
	position: absolute;
	height: 22px;
	left: 32px;
	top: 371px;

	font-family: 'BROmnyRegular';
	font-size: 15px;
	color: #292b2e;
}

.captionInput3 {
	position: absolute;
	height: 22px;
	left: 32px;
	top: 481px;

	font-family: 'BROmnyRegular';
	font-size: 15px;
	color: #292b2e;
}

.normal-text {
	position: absolute;
	width: 414px;
	height: 22px;
	left: calc(50% - 414px / 2);
	top: 805px;
	font-family: 'BROmnyRegular';
	font-size: 15px;
	text-align: center;

	color: #292b2e;
}

.bold-text {
	font-family: 'BROmnySemiBold';
	color: #8e9fa9;
}

.emailInput {
	display: grid;
	justify-content: center;
	align-items: center;
	width: 100%;
	position: absolute;
	top: 294px;
}

.passwordInput {
	display: grid;
	justify-content: center;
	align-items: center;
	width: 100%;
	position: absolute;
	top: 404px;
}

.confirmInput {
	display: grid;
	justify-content: center;
	align-items: center;
	width: 100%;
	position: absolute;
	top: 514px;
}

.forgot-password-button {
	display: grid;
	position: absolute;
	justify-content: center;
	align-items: center;
	width: 163px;
	height: 22px;
	left: 32px;
	top: 460px;
	font-family: 'BROmnyRegular';
	font-size: 15px;
	color: #61da5e;
}

.signInButton {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	position: absolute;
	top: 610px;
}

app-save-button {
	width: 350px;
}

.arrow {
	position: absolute;
	left: 25px;
	top: 42px;
}
