ion-content {
  --ion-background-color: linear-gradient(180deg, #171717 0%, #000000 100%);
}

.title {
  position: absolute;
  left: 30px;
  top: 101px;
  font-family: "BROmnySemiBold";
  font-size: 30px;
  color: #ffffff;
}

.captionInput {
  position: absolute;
  width: 350px;
  height: 40px;
  left: 30px;
  top: 160px;

  font-family: "BROmnyRegular";
  font-size: 15px;
  line-height: 20px;
  color: #a3a3a9;
}

.captionInput2 {
  position: absolute;
  width: 163px;
  height: 22px;
  left: 32px;
  top: 229px;
  font-family: "BROmnyRegular";
  font-size: 15px;
  color: #ffffff;
}

.captionInput3 {
  position: absolute;
  width: 163px;
  height: 22px;
  left: 32px;
  top: 339px;
  font-family: "BROmnyRegular";
  font-size: 15px;
  color: #ffffff;
}

.normal-text {
  position: absolute;
  width: 414px;
  height: 22px;
  left: calc(50% - 414px / 2);
  top: 692px;
  font-family: "BROmnyRegular";
  font-size: 15px;
  text-align: center;

  color: #ffffff;
}

.bold-text {
  font-family: "BROmnySemiBold";
  color: #61da5e;
}

.passwordInput {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 265px;
}

.confirmInput {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 375px;
}

.signInButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 470px;
}

app-save-button {
  width: 350px;
}

.arrow {
  position: absolute;
  left: 25px;
  top: 42px;
}
