<ion-content scroll-y="false">
  <div class="arrow">
    <app-control-button
      source="../../../assets/images/arrow-go-back.png"
      [size]="40"
      (onPress)="navigateToVerifyCode()"
    >
    </app-control-button>
  </div>
  <div class="title">Reset password</div>
  <div class="captionInput">
    Set your new password so you can login and access Sync Line
  </div>
  <div class="captionInput2">New password</div>
  <div class="passwordInput">
    <app-border-input
      [placeholder]="'Enter your password'"
      [value]="'password'"
      [fontSize]="14"
      [backgroundColor]="'#E1E1E1'"
      [isPassword]="true"
      [type]="'password'"
      (valueChange)="handlePasswordChange($event)"
    ></app-border-input>
  </div>
  <div class="captionInput3">Confirm password</div>
  <div class="confirmInput">
    <app-border-input
      [placeholder]="'Confirm your password'"
      [value]="'password'"
      [fontSize]="14"
      [backgroundColor]="'#E1E1E1'"
      [isPassword]="true"
      [type]="'password'"
      (valueChange)="handleConfirmPasswordChange($event)"
    ></app-border-input>
  </div>
  <div class="signInButton">
    <app-save-button title="Done" [width]="350" (onPress)="navigateToSignIn()">
    </app-save-button>
  </div>
</ion-content>
