ion-content {
	--ion-background-color: linear-gradient(180deg, #8e9fa9 0%, #d8cbc1 100%);
}

.title {
	position: absolute;
	left: 30px;
	top: 101px;
	font-family: 'BROmnySemiBold';
	font-size: 25px;
	color: #ffffff;
}

.subtitle1 {
	position: absolute;
	left: 31px;
	top: 158px;
	font-family: 'BROmnyMedium';
	font-size: 18px;
	color: #ffffff;
}

app-border-input.currentPassword {
	position: absolute;
	left: 30px;
	top: 202px;
}


app-border-input.newPassword {
	position: absolute;
	left: 30px;
	top: 370px
}

.subtitle2 {
	position: absolute;
	left: 31px;
	top: 336px;
	font-family: 'BROmnyMedium';
	font-size: 18px;
	color: #ffffff;
}

.subtitle3 {
	position: absolute;
	left: 31px;
	top: 450px;
	font-family: 'BROmnyMedium';
	font-size: 18px;
	color: #ffffff;
}

app-border-input.confirmPassword {
	position: absolute;
	left: 30px;
	top: 484px;
}

.uploadButton {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	position: absolute;
	top: 600px;
}

app-save-button {
	width: 335px;
}

.arrow {
	position: absolute;
	left: 25px;
	top: 42px;
}
