<ion-content scroll-y="false">
	<div class="arrow">
		<app-control-button
			source="../../../assets/images/arrow-go-back-white.png"
			[size]="40"
			(onPress)="goBack()"
		></app-control-button>
	</div>
	<div class="title">Change password</div>
	<div class="subtitle1">Current password</div>
	<app-border-input
		class="currentPassword"
		[placeholder]="'Enter your current password'"
		[value]="currentPassword"
		[fontSize]="14"
		[backgroundColor]="'#E1E1E1'"
		[isPassword]="false"
		(valueChange)="verifyPassword($event)"
		[width]="335"
	></app-border-input>
	<div class="subtitle2">New password</div>
	<app-border-input
		class="newPassword"
		[type]="'password'"
		[placeholder]="'Enter your new password'"
		[value]="newPassword"
		[fontSize]="14"
		[backgroundColor]="'#E1E1E1'"
		[isPassword]="false"
		(valueChange)="insertNewPassword($event)"
		[width]="335"
	></app-border-input>
	<div class="subtitle3">Confirm password</div>
	<app-border-input
		class="confirmPassword"
		[placeholder]="'Confirm your new password'"
		[type]="'password'"
		[value]="confirmPassword"
		[fontSize]="14"
		[backgroundColor]="'#E1E1E1'"
		[isPassword]="false"
		(valueChange)="confirmNewPassword($event)"
		[width]="335"
	></app-border-input>
	<div class="uploadButton">
		<app-save-button
			title="Save changes"
			[width]="335"
			(onPress)="handleSave()"
		></app-save-button>
	</div>
</ion-content>
