ion-content {
  --ion-background-color: white;
}

.title {
  position: absolute;
  left: 30px;
  top: 101px;
  font-family: "BROmnySemiBold";
  font-size: 30px;
  color: #292B2E;
}

.subtitle {
  position: absolute;
  left: 30px;
  top: 149px;
  font-family: "BROmnyRegular";
  font-size: 30px;
  color: #8E9FA9;
}

.captionInput {
  position: absolute;
  width: 340px;
  height: 40px;
  left: 30px;
  top: 222px;

  font-family: "BROmnyRegular";
  font-size: 15px;
  line-height: 20px;
  color: #292B2E;
}

.normal-text {
  position: absolute;
  width: 414px;
  height: 22px;
  left: calc(50% - 414px / 2);
  top: 805px;
  font-family: "BROmnyRegular";
  font-size: 15px;
  text-align: center;

  color: #292B2E;
}

.bold-text {
  font-family: "BROmnySemiBold";
  color: #8E9FA9;
}

.emailInput {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 282px;
}

.signInButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 377px;
}

app-save-button {
  width: 350px;
}

.arrow {
  position: absolute;
  left: 25px;
  top: 42px;
}
