<ion-content scroll-y="false">
	<div class="arrow">
		<app-control-button
			source="../../../assets/images/arrow-go-back.png"
			[size]="40"
			(onPress)="navigateToSignIn()"
		>
		</app-control-button>
	</div>
	<div class="title">Trouble logging in?</div>
	<div class="subtitle">We've got you covered.</div>
	<div class="captionInput">
		Enter your email and we'll send you a verification code to get back into your account
	</div>
	<div class="emailInput">
		<app-border-input
			[placeholder]="'Enter your email'"
			[value]="'email'"
			[fontSize]="14"
			[backgroundColor]="'#E1E1E1'"
			[isPassword]="false"
			[type]="'email'"
			(valueChange)="handleEmailChange($event)"
		></app-border-input>
	</div>
	<div class="signInButton">
		<app-save-button title="Continue" [width]="350" (onPress)="navigateToVerifyCode()">
		</app-save-button>
	</div>
	<span class="normal-text" (click)="navigateToSignUp()">
		Want to create a new account?
		<span class="bold-text">Sign up</span>
	</span>
</ion-content>
