ion-content {
  --ion-background-color: linear-gradient(180deg, #171717 0%, #000000 100%);
}

.title {
  position: absolute;
  left: 30px;
  top: 101px;
  font-family: "BROmnySemiBold";
  font-size: 30px;
  color: #ffffff;
}

.subtitle {
  position: absolute;
  left: 30px;
  top: 149px;
  font-family: "BROmnyRegular";
  font-size: 30px;
  color: #a3a3a9;
}

.captionInput {
  position: absolute;
  width: 349px;
  height: 40px;
  left: 30px;
  top: 222px;

  font-family: "BROmnyRegular";
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
}

.normal-text {
  position: absolute;
  width: 414px;
  height: 22px;
  left: calc(50% - 414px / 2);
  top: 692px;
  font-family: "BROmnyRegular";
  font-size: 15px;
  text-align: center;

  color: #ffffff;
}

.bold-text {
  font-family: "BROmnySemiBold";
  color: #61da5e;
}

.emailInput {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 282px;
}

.signInButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 377px;
}

app-save-button {
  width: 350px;
}

.arrow {
  position: absolute;
  left: 25px;
  top: 42px;
}
