.status-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  z-index: 1000;
  transform: translateY(100%);
  opacity: 0;
  background-color: linear-gradient(180deg, #8e9fa9 0%, #d8cbc1 100%);
  transition: transform 0.3s ease-in-out, opacity 0.5s ease-in-out;
}

.status-container.enter {
  transform: translateY(0);
  opacity: 1;
}

.status-container.leave {
  transform: translateY(100%);
  opacity: 0;
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000000;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.background-overlay.enter {
  opacity: 0.5;
}

.background-overlay.leave {
  opacity: 0;
}

.header {
  position: absolute;
  top: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  // justify-content: space-between;
  // padding: 0 20px;
  gap: 24px;
  z-index: 10;
}

.go-back-button {
  position: relative;
  left: 23px;
  cursor: pointer;
}

.user-details {
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding-left: 24px;
  align-items: center;
}

.user-icon {
  position: relative;
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user-name {
  width: 183px;
  height: 22px;
  font-family: "BROmnyMedium";
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.status-time {
  width: 183px;
  height: 16px;
  font-family: "BROmnyRegular";
  font-size: 12px;
  line-height: 16px;
  color: #d9d9d9;
}

.status-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.progress-bar {
  position: absolute;
  top: 19px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;

  .progress-tab {
    width: 112px;
    height: 4px;
    background: #d9d9d9;
    border-radius: 50px;

    &.active {
      background: #ffffff;
    }
  }
}
