<div class="wrapper" #wrapper>
	<div class="column delete-icon">
		<img src="assets/images/trash.png" alt="delete" class="icon-img ion-margin-start" />
	</div>
	<div class="column add-icon">
		<img src="assets/images/group.png" alt="add" class="icon-img ion-margin-end" />
	</div>
</div>
<ion-item #item class="contact-item" lines="none">
	<ion-avatar slot="start">
		<img [src]="profilePicture" alt="profile picture" />
	</ion-avatar>
	<div class="contact-details">
		<div class="name">{{ username }}</div>
		<div class="username">{{ status }}</div>
	</div>
	<div class="open-chat">
		<app-control-button
			source="assets/images/open-chat.png"
			[size]="24"
			(onPress)="onViewChatClick()"
		></app-control-button>
	</div>
</ion-item>
