<ion-content class="container" scroll-y="false">
  <div class="text-container">
    <div class="first-line">
      <div class="one">chat</div>
      <img
        [src]="'../../../assets/images/icon.png'"
        alt="Icon"
        class="icon"
      />
      <div class="two">rooms</div>
    </div>
    <div class="second-line">
      <div class="second-line-variant">with the</div>
      &nbsp;most
    </div>
    <div class="third-line">valuable people</div>
    <div class="sign-up-button">
      <app-round-button (onPress)="navigateToSignUp()"></app-round-button>
    </div>
    <div class="sign-in-button">
      <app-round-button caption="I have an account" color="#8E9FA9" (onPress)="navigateToSignIn()"></app-round-button>
    </div>
  </div>
</ion-content>
