ion-content {
	--ion-background-color: linear-gradient(180deg, #8e9fa9 0%, #d8cbc1 100%);
}

.container {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	height: 98px;
	background: rgba(79, 84, 88, 0.5);
	border-radius: 0px 0px 31px 31px;
	gap: 20px;
	padding: 0 20px;
}

.info-button {
	margin-left: 70px;
}

.user-details {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.user-icon {
	width: 45px;
	height: 45px;
	border-radius: 100%;
	overflow: hidden;
}

.user-name {
	font-family: 'BROmnyMedium';
	font-size: 20px;
	color: #ffffff;
}

.user-status {
	font-family: 'BROmnyRegular';
	font-size: 14px;
	color: #d9d9d9;
}

.chat-container {
	flex: 1;
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 20px;
	overflow-y: auto;
	margin-bottom: 80px;
}

.day-group {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.section-separator {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	padding: 7px 13px;
	background: rgba(35, 35, 35, 0.35);
	border-radius: 100px;
	font-family: 'BROmnyMedium';
	font-size: 14px;
	color: #f5f5f5;
	margin: 13px 0;
}

.messages {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.align-end {
	display: flex;
	justify-content: flex-end;
}

.align-start {
	display: flex;
	justify-content: flex-start;
}

.footer-container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 17px;
	backdrop-filter: blur(26.2px);
	gap: 14px;
	position: fixed;
	bottom: 0;
	width: 100%;
}
