ion-content {
	--ion-background-color: linear-gradient(180deg, #8e9fa9 0%, #d8cbc1 100%);
}

#container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

app-special-input {
	position: absolute;
	top: 133px;
}

.title {
	position: absolute;
	left: 18px;
	top: 65px;
	font-family: 'BROmnyMedium';
	font-size: 40px;
	color: #ffffff;
}

.lists {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 211px;
	gap: 24px;
}

.recent-list {
	position: relative;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	gap: 8px;
}

.viewed-list {
	position: relative;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	gap: 8px;
}

.viewed-item:last-child {
	margin-bottom: 18px;
}

.refresh-button {
	position: absolute;
	top: 17px;
	right: 15px;
}

.subtitle-1 {
	position: relative;
	width: 358px;
	font-family: 'BROmnySemiBold';
	font-size: 18px;

	color: #ffffff;
}

.subtitle-2 {
	position: relative;
	width: 358px;
	font-family: 'BROmnySemiBold';
	font-size: 18px;

	color: #ffffff;
}

.uploadFile {
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	width: 349px;
	height: 110px;
	background: #E1E1E1;
	border-radius: 30px;
	gap: 28px;
}

.cloud-icon {
	width: 57px;
	height: 56px;
	left: 77px;
	top: 528px;
}

.placeholders {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.defaultTitle {
	width: 174px;
	font-family: 'BROmnySemiBold';
	font-size: 15px;
	color: #1c1c1c;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.defaultSubtitle {
	width: 166px;
	font-family: 'BROmnyRegular';
	font-size: 12px;
	color: #a3a3a9;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.uploadContainer {
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	gap: 10px;
}
