ion-content {
  --ion-background-color: linear-gradient(180deg, #8e9fa9 0%, #d8cbc1 100%);
}

.title {
  position: absolute;
  left: 18px;
  top: 65px;
  font-family: "BROmnyMedium";
  font-size: 40px;
  color: #ffffff;
}
