<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
	<div id="container">
		<div class="title">Updates</div>
		<app-special-input
			[placeholder]="'Search'"
			(inputValue)="handleInputValue($event)"
		></app-special-input>
		<div class="lists">
			<app-my-status-item
				[id]="userStatus.id"
				[nombre]="userStatus.nombre"
				[time]="userStatus.time"
				[viewed]="userStatus.viewed"
				(onPress)="handleStatusPress($event)"
				(onAddPress)="handleAddPress($event)"
			></app-my-status-item>
			<div class="subtitle-1">Recent updates</div>
			<div class="recent-list">
				<app-status-item
					*ngFor="let status of filteredRecentStatus"
					[id]="status.id"
					[nombre]="status.nombre"
					[time]="status.time"
					[viewed]="status.viewed"
					(onPress)="handleStatusPress($event)"
				></app-status-item>
			</div>
			<div class="subtitle-2">Viewed updates</div>
			<div class="viewed-list">
				<app-status-item
					*ngFor="let status of filteredViewedStatus"
					[id]="status.id"
					[nombre]="status.nombre"
					[time]="status.time"
					[viewed]="status.viewed"
					(onPress)="handleStatusPress($event)"
					class="viewed-item"
				></app-status-item>
			</div>
		</div>
		<ng-template #modalContent>
			<div class="custom-modal-content">
				<div class="uploadContainer">
					<div class="uploadFile">
						<img
							src="assets/images/cloud.png"
							alt="Cloud Icon"
							class="cloud-icon"
						/>
						<div class="placeholders">
							<div class="defaultTitle" (click)="handleClick()">
								{{ defaultTitle }}
							</div>
							<div class="defaultSubtitle">{{ defaultSubtitle }}</div>
						</div>
						<input
							type="file"
							id="fileInput"
							accept=".mp3"
							(change)="handleFileChange($event)"
							hidden
						/>
					</div>
				</div>
			</div>
		</ng-template>
		<app-custom-modal
			id="photo-modal"
			[visible]="openCustomModal"
			[modalContent]="modalContent"
			(visibilityChange)="closeModal($event)"
			title="Add a new photo"
			(doneButtonAction)="closeModal($event)"
		></app-custom-modal>
	</div>
</ion-content>
