.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 737px;
  left: 37px;
  opacity: 1;
  
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.nav-bar.hide {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--clr);
}

:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.content-container {
  flex: 1;
  overflow-y: auto;
}

.hidden {
  display: none;
}

