.nav-bar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  align-self: center;
  transition: bottom 0.5s ease-in-out;
  z-index: 10;
}

.nav-bar.hide {
  bottom: -120px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--clr);
}

:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.content-container {
  position: relative;
  flex: 1;
  overflow-y: auto;
  z-index: 0;
}

.hidden {
  display: none;
}
