<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
	<div id="container">
		<div class="create-button">
			<app-send-button
				source="../../assets/images/add.png"
				(sendClicked)="openModal($event)"
			></app-send-button>
		</div>
		<div class="title">Friends</div>
		<app-special-input
			[placeholder]="'Search'"
			(inputValue)="handleInputValue($event)"
		></app-special-input>
		<div class="contacts">
			<app-contact-list
				[contacts]="filteredContacts"
				(onDelete)="handleDelete($event)"
				(onAddToGroup)="handleAddToGroup($event)"
				(onViewChat)="handleViewChat($event)"
			></app-contact-list>
		</div>
		<app-confirmation-modal
			[visible]="showDeleteModal"
			[image]="'../../../assets/images/warning.png'"
			[title]="'Deleting friend'"
			[text]="'You are about to delete a friend. Are you sure this is what you want?'"
			[cancelButtonText]="'CANCEL'"
			[acceptButtonText]="'ACCEPT'"
			(onCancel)="handleDeleteCancel()"
			(onAccept)="handleDeleteAccept()"
		></app-confirmation-modal>
		<ng-template #modalContent>
			<div class="custom-modal-content">
				<app-simple-input
					[width]="335"
					placeholder="Name"
					[characterLimit]="50"
					(onChangeText)="handleTitleChange($event)"
				></app-simple-input>
				<app-simple-input
					[width]="335"
					placeholder="Username"
					[characterLimit]="50"
					(onChangeText)="handleDescriptionChange($event)"
				></app-simple-input>
			</div>
		</ng-template>
		<ng-template #groupModalContent>
			<div class="custom-modal-content">
				<app-search-input
					[width]="'335px'"
					[placeholder]="'Search by groupchat name'"
					[focusInput]="false"
					class="filter-input"
					backgroundColor="#E1E1E1"
					(searchTermChanged)="handleSearchTermChanged($event)"
				></app-search-input>
				<div class="group-list">
					<app-list [data]="filteredGroupChats" (setExternalList)="updateFilteredItems($event)"></app-list>
				  </div>				  
			</div>
		</ng-template>
		<app-custom-modal
			id="custom-modal"
			[visible]="openCustomModal"
			[modalContent]="modalContent"
			(visibilityChange)="closeModal($event)"
			title="Add a new friend"
			(doneButtonAction)="closeModal($event)"
		></app-custom-modal>
		<app-custom-modal
			id="group-modal"
			[visible]="openGroupModal"
			[modalContent]="groupModalContent"
			(visibilityChange)="closeGroupModalFunc($event)"
			title="Add friend to group"
			(doneButtonAction)="closeGroupModalFunc($event)"
		></app-custom-modal>
	</div>
</ion-content>
