.round-button-container {
  width: 349px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 27.5px;
  cursor: pointer;
}

.round-button-caption {
  font-family: "BROmnySemiBold";
  font-size: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
