<ion-content scroll-y="false">
  <div class="arrow">
    <app-control-button
      source="../../../assets/images/arrow-go-back.png"
      [size]="40"
      (onPress)="navigateToForgotPassword()"
    >
    </app-control-button>
  </div>
  <div class="title">Verification code</div>
  <div class="captionInput">
    Enter the 6 digits code that you received on your email
  </div>
  <div class="emailInput">
    <app-verification-input (codeChange)="handleCodeChange($event)">
    </app-verification-input>
  </div>
  <span class="normal-text" (click)="navigateToSignUp()">
    Don't have an account?
    <span class="bold-text">Sign up</span>
  </span>
  <div class="signInButton">
    <app-save-button
      title="Continue"
      [width]="350"
      (onPress)="navigateToResetPassword()"
    >
    </app-save-button>
  </div>
</ion-content>
