<div class="list-container" *ngFor="let letter of sortedContacts | keyvalue; let first = first">
	<div class="alphabet-letter" [ngClass]="{ 'first-letter': first }">{{ letter.key }}</div>
	<div *ngFor="let contact of letter.value" class="contact-item-wrapper">
		<app-contact-item
			[id]="contact.id"
			[name]="contact.name"
			[username]="contact.username"
			[profilePicture]="contact.profilePicture"
			(onDelete)="handleDelete($event)"
			(onAddToGroup)="handleAddToGroup($event)"
			(onViewChat)="handleViewChat($event)"
		></app-contact-item>
	</div>
</div>
