<div
  class="container"
  [ngClass]="{ 'sent-container': isSent, 'received-container': !isSent }"
>
  <div class="message-time">{{ time }}</div>
  <div
    [ngClass]="{ sent: isSent, received: !isSent }"
    class="message-container"
  >
    <ng-container *ngIf="!isAudio; else audioTemplate">
      <div class="message-text">{{ text }}</div>
    </ng-container>
    <ng-template #audioTemplate>
      <audio controls>
        <source [src]="text" type="audio/mp3" />
        Your browser does not support the audio element.
      </audio>
    </ng-template>
  </div>
</div>
