.container {
  position: relative;
  width: 350px;
  height: 55px;
}

.input-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.input {
  flex: 1;
  border: none;
  border-radius: 100px;
  padding: 0 20px;
  color: #292B2E;
  height: 100%;
  background-color: transparent;
  outline: none;
  font-family: "BROmnyRegular";

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: none;
  }

  &:active {
    outline: none;
  }
}

.input-with-image {
  padding-right: 55px;
}

.input-error {
  border-width: 1px;
  border-color: #f4385a;
}

.image {
  position: absolute;
  width: 23px;
  height: 23px;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.eye-button {
  position: absolute;
  right: 20px;
  padding: 10px;
  background: none;
  border: none;
  color: #292B2E;
}

.error {
  color: #f4385a;
  font-size: 12px;
  position: absolute;
  top: 60px;
  right: 0;
  margin-top: 5px;
  font-family: "BROmnyRegular";
}
