<ion-content scroll-y="false">
	<div class="arrow">
		<app-control-button
			source="../../../assets/images/arrow-go-back-white.png"
			[size]="40"
			(onPress)="goBack()"
		></app-control-button>
	</div>
	<div class="title">Edit account</div>
	<div class="subtitle1">Username</div>
	<app-action-input
		class="username"
		[placeholder]="'@username'"
		[value]="inputValue"
		[width]="335"
		[fontSize]="14"
		[backgroundColor]="'#E1E1E1'"
		(onEdit)="onEdit()"
		(onSave)="onSave($event)"
	></app-action-input>
	<div class="subtitle2">Email</div>
	<app-action-input
		class="email"
		[placeholder]="'Enter your email'"
		[value]="email"
		[width]="335"
		[fontSize]="14"
		[backgroundColor]="'#E1E1E1'"
		(onEdit)="onEditEmail()"
		(onSave)="updateEmail($event)"
	></app-action-input>
</ion-content>
